/* Clemson's Official Orange  #F66733 */
/* Clemson's Official Purple  #522d80 */
body {
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

}
nav {
  padding: 25px 0;
  background-color: white;
  font-size: 18px;

}
.logo {
  display: inline;
}

.logo img {
  margin-bottom: -2px;
  max-width: 18px;
}

.logo p {
  display: inline;
}
nav a:first-child {
  padding: 0 10px;
}
nav a {
  color: #F66733;
  padding: 0 15px;
  text-decoration: none;
}
nav a:hover {
  text-decoration:none;
  color: #522d80;
}

.navLinks {
  font-size: 15px;
  display:inline;
  padding-left: 20px;
  overflow: hidden;
}

.navLinks a {
  text-transform: uppercase;
}

.navLinks .link:hover, #dropdown:hover{
  text-decoration:none;
  color: #522d80;
}

.navLinks #dropdown .link:active{
  text-decoration: : white !important;
}


.aspot {
  font-size: 50px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  background: url('assets/TigerEyes.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Monoton', sans-serif;
  height: 100px;
  color: white;
  background-position: 0px -385px;


}
.aspot:hover{
  background-image: url('assets/TigerEyesLit.png');
}

.sublink{
  font-size:12px;
}

#dropdown {
    overflow: hidden;
    display:inline;
    background-color: white;
}

#who-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 22px;
    margin-left: -116px;
}

#who-content a {
    width: 120px;
    background-color: white;
    padding: 20px 15px;
    display: block;
    text-align: left;
}

#dropdown:hover #who-content {
    display:inline;
}

/*what*/
#what-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -120px;
    margin-top: 22px;
}
#what-content a {
    width: 120px;
    background-color: white;
    padding: 20px 15px;
    display: block;
    text-align: left;
}

#dropdown:hover #what-content {
    display:inline;
}

#filler{
  height: 20px;
}
.carousel {
  height: 580px;
  overflow: hidden;
  position:fixed;
}

.carousel-inner > .item > img {
    margin: 20px auto;
    width:50%;
}
.carousel-control.left, .carousel-control.right{
    background: none !important;
    filter: progid:none !important;>
}

#intro-para{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #522d80;
  margin: 0 30px;
  font-size: 30px;
}
#tiger-logo{
  display: block;
  margin: 30px auto;
}
#line{
  display: block;
  margin: 0 auto;
  width: 800px;
}
#social{
  text-align: center;
  padding:20px;
}
#social img{
  margin: 10px;
  height: 100px;
  width: 100px;
}

#social img:hover {
  height: 150px;
  width: 150px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    margin-left: -30px;
    margin-right: 675px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#cox{
  color: #F66733;
  text-align: center;
  font-size: 30px;
  margin: 40px;
}
#map{
  display:block;
  margin:auto;
}
#landscape img{
  width:500px;
  height: 200px;
  display:block;
  margin:auto;
  margin-top:15px;
}
.info{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #522d80;
  margin:0;

}
#paragraph{
  margin:20px;
  font-size: 20px;
}
.header{
  margin: 20px 300px 20px 300px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #522d80;

}
.body{
  margin: 20px 300px 20px 300px;
  font-size: 18px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #F66733;
}

.officer-title{
  font-size: 25px;
  margin-bottom:25px;
  margin-top:25px;
}
.bio-container{
  justify-content: center;
  align-items: center;
  display:flex;
  align-content: flex-start;
  margin-bottom:20px;

}
.bio-list{
  list-style-type:none;
  text-align: left;
  width:400px;
}
.bio-pic{
  width:270px;
  height:280px;
}
#sponsors{
  margin-top:50px;
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #522d80;
  text-decoration: none;
}
